{% extends('base.html.twig') %}

{% block title %}
    <title>Product creation</title>
{% endblock %}

{% block body %}
    <h1>Product creation</h1>
    {{ form_start(formProduct) }}
        <div class="form-group col-lg-4">
            {{ form_row(formProduct.productType)}}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(formProduct.name)}}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(formProduct.description)}}
        </div>
        <div class="form-group col-lg-4">
            {{ form_label(formProduct.weight) }}
            {{ form_widget(formProduct.weight) }}
            {% if form_errors(formProduct.weight)|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(formProduct.weight) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group col-lg-4">
            {{ form_row(formProduct.enabled)}}
        </div>
        <div class="d-inline">
            {{ form_row(formProduct.submit, {'method': 'POST'})}}<a href="{{ path('getProducts') }}" class="btn btn-warning">Cancel</a>
        </div>
    {{ form_end(formProduct) }}

{% endblock %}