{% extends('base.html.twig') %}

{% block title %}
    <title>Product {{ product.uuid }} update</title>
{% endblock %}

{% block body %}
    <h1>Product {{ product.uuid }} update</h1>
    {{ form_start(formProduct) }}
      <div class="row">
        <div class="col">
            {{ form_row(formProduct.productType)}}
        </div>
        <div class="col">
            {{ form_row(formProduct.name)}}
        </div>
        </div>
    <div class="row">
        <div class="col">
            {{ form_row(formProduct.description)}}
        </div>
        <div class="col">
            {{ form_label(formProduct.weight) }}
            {{ form_widget(formProduct.weight) }}
            {% if form_errors(formProduct.weight)|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(formProduct.weight) }}
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {{ form_row(formProduct.enabled)}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1">
        {{ form_row(formProduct.submit)}}
        </div>
        <div class="col-1">
        <a href="{{ path('getProducts') }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(formProduct) }}

{% endblock %}