{% extends('base.html.twig') %}

{% block title %}
    <title>Products list</title>
{% endblock %}

{% block body %}
    <h1>Products list</h1>
     <a href="{{ path('createProduct') }}" class="btn btn-primary">Create Product</a>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in listProducts %}
                <tr>
                    <td>{{ product.uuid }}</td>
                    <td>{{ product.productType }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.enabled }}</td>
                    {% if product.enabled %}
                        <td>
                            <a href='{{ path('showProduct', {'id': product.uuid}) }}' class="btn btn-primary">See product information</a>
                            <a href='{{ path('updateProduct', {'id': product.uuid}) }}' class="btn btn-warning">Modify</a>
                            <a href='{{ path('deleteProduct', {'id': product.uuid}) }}' class="btn btn-danger">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}