{% extends('base.html.twig') %}

{% block title %}
    <title>Product {{ product.uuid }} information</title>
{% endblock %}

{% block body %}
    <h1>Product {{ product.uuid }} information</h1>
     <a href="{{ path('getProducts') }}" class="btn btn-primary">Show all products</a>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ product.uuid }}</td>
                <td>{{ product.productType }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.enabled }}</td>
                {% if product.enabled %}
                    <td>
                        <a href='{{ path('updateProduct', {'id': product.uuid}) }}' class="btn btn-warning">Modify</a>
                        <a href='{{ path('deleteProduct', {'id': product.uuid}) }}' class="btn btn-danger">Delete</a>
                    </td>
                {% endif %}
                {% if product.enabled == 0 %}
                    <td>
                        <a href='{{ path('updateProduct', {'id': product.uuid}) }}' class="btn btn-secondary disabled">Modify</a>
                        <a href='{{ path('deleteProduct', {'id': product.uuid}) }}' class="btn btn-danger">Delete</a>
                    </td>
                {% endif %}
                </tr>
            </tr>
        </tbody>
    </table>
{% endblock %}